/* 
* Keep this in, otherwise markdown-pdf renders links with Linkname (link url).
* https://github.com/alanshaw/markdown-pdf/issues/63
*/
a[href]:after { content : "" }



/* Heavily adapted from The Main Floor http://typespiration.com/design/the-main-floor/ via @typespiration */
h1 {
    color: #2B2B2B;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
    max-width: 700px;
    position: relative;
}

h1:after {
    background: #E6324B;
    content: '';
    display: block;
    height: 2px;
    margin-top: 5px;
}

h2 {
    color: #2B2B2B;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 5px;
    max-width: 700px;
    position: relative;
}

h2:after {
    background: #E6324B;
    content: '';
    display: block;
    height: 1px;
    margin-top: 2px;
}

h3 {
    color: #2B2B2B;
    font-family: 'Roboto';
    font-size: 12px;
    margin-bottom: 5px;
    max-width: 700px;
    position: relative;
}

h3:after {
    content: '';
    display: block;
}


body {
    color: #353634;
    font-family: 'Libre Baskerville';
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 2px;
    max-width: 700px;
}

a {
    color: #E6324B;
}

a:hover {
    color: #353634;
}


